<div id="masthead">
	 <img src="https://et710.com/website/jm/ozoneparkimages/logo.png" class="logo" height="100px" alt="logo">
	 
	 
<h1>The Ozone Park</h1>
	 
	</div>
	
	<div id="navbar">
		
	<ul id="navbarul">
		<li><a class="active" href="javascript:void(0)">HOMEPAGE</a></li>
		
  		<li><a href="javascript:void(0)">SIGHTS</a>
			<ul>
			<li><a href="/geo">Geography/Location</a></li>
        	<li><a href="/land">Landmarks</a></li>
        	<li><a href="/act">Activities</a></li>
			</ul>
		</li>
		
		<li><a href="javascript:void(0)">COMMUNITY</a>
			
			<ul>
        	<li><a href="/house">Housing</a></li>
			<li><a href="/demo">Demographic</a></li>
      		</ul>
		</li>
		
		<li><a href="javascript:void(0)">PLACES</a>
			<ul>
			<li><a href="/parks">Parks</a></li>
			<li><a href="/schools">Schools</a></li>
        	<li><a href="/snd">Shopping & Dining</a></li>
      			</ul>
		</li>
		
		<li><a href="/trans">TRANSPORTATION</a></li>
		
		<li><a href="/cont">CONTACT US</a></li>
			
	</ul>	
		
			
 </div><!--div for masthead-->
